### Binance recommends using the CSV historical data method if possible in order to reduce API load and increase speeds and stability

In [33]:
import pandas as pd

In [34]:
url = "/Users/home/Downloads/BTCUSDT-1h-2022-07.csv"
url

'/Users/home/Downloads/BTCUSDT-1h-2022-07.csv'

In [41]:
df = pd.read_csv(url, header = None)
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,1656633600000,19942.21,20918.35,19658.97,20295.08,15102.27957,1656637199999,3.061280e+08,183055,7869.03338,1.595835e+08,0
1,1656637200000,20295.09,20475.15,20260.00,20416.46,5242.15213,1656640799999,1.067496e+08,68071,2744.56553,5.588392e+07,0
2,1656640800000,20416.45,20552.29,20269.95,20300.69,3668.92227,1656644399999,7.478502e+07,53024,1799.37831,3.667430e+07,0
3,1656644400000,20300.68,20309.55,19688.00,19730.76,6570.88765,1656647999999,1.316029e+08,86467,3064.19088,6.135385e+07,0
4,1656648000000,19730.77,19773.71,19366.89,19409.23,7334.11812,1656651599999,1.436470e+08,94313,3588.68876,7.028914e+07,0
...,...,...,...,...,...,...,...,...,...,...,...,...
739,1659294000000,23748.65,23982.89,23700.37,23845.88,6209.96199,1659297599999,1.482328e+08,195878,3092.40743,7.382186e+07,0
740,1659297600000,23843.69,23892.43,23772.75,23797.15,3908.90949,1659301199999,9.313236e+07,134305,1977.78235,4.712255e+07,0
741,1659301200000,23797.22,23827.25,23531.61,23589.58,3905.49024,1659304799999,9.255338e+07,139428,1865.49435,4.421453e+07,0
742,1659304800000,23591.06,23593.45,23227.31,23377.48,9707.91071,1659308399999,2.268849e+08,281736,4631.14308,1.082472e+08,0
743,1659308400000,23379.82,23469.00,23266.60,23293.32,5601.01245,1659311999999,1.307734e+08,179743,2816.43688,6.576226e+07,0

In [42]:
df['Date'] = pd.to_datetime(df.iloc[:,0], unit = 'ms')
df

,0,1,2,3,4,5,6,7,8,9,10,11,Date
0,1656633600000,19942.21,20918.35,19658.97,20295.08,15102.27957,1656637199999,3.061280e+08,183055,7869.03338,1.595835e+08,0,2022-07-01 00:00:00
1,1656637200000,20295.09,20475.15,20260.00,20416.46,5242.15213,1656640799999,1.067496e+08,68071,2744.56553,5.588392e+07,0,2022-07-01 01:00:00
2,1656640800000,20416.45,20552.29,20269.95,20300.69,3668.92227,1656644399999,7.478502e+07,53024,1799.37831,3.667430e+07,0,2022-07-01 02:00:00
3,1656644400000,20300.68,20309.55,19688.00,19730.76,6570.88765,1656647999999,1.316029e+08,86467,3064.19088,6.135385e+07,0,2022-07-01 03:00:00
4,1656648000000,19730.77,19773.71,19366.89,19409.23,7334.11812,1656651599999,1.436470e+08,94313,3588.68876,7.028914e+07,0,2022-07-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,1659294000000,23748.65,23982.89,23700.37,23845.88,6209.96199,1659297599999,1.482328e+08,195878,3092.40743,7.382186e+07,0,2022-07-31 19:00:00
740,1659297600000,23843.69,23892.43,23772.75,23797.15,3908.90949,1659301199999,9.313236e+07,134305,1977.78235,4.712255e+07,0,2022-07-31 20:00:00
741,1659301200000,23797.22,23827.25,23531.61,23589.58,3905.49024,1659304799999,9.255338e+07,139428,1865.49435,4.421453e+07,0,2022-07-31 21:00:00
742,1659304800000,23591.06,23593.45,23227.31,23377.48,9707.91071,1659308399999,2.268849e+08,281736,4631.14308,1.082472e+08,0,2022-07-31 22:00:00
743,1659308400000,23379.82,23469.00,23266.60,23293.32,5601.01245,1659311999999,1.307734e+08,179743,2816.43688,6.576226e+07,0,2022-07-31 23:00:00

In [43]:
df.columns = ['Open Time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close Time', 'Quote Asset Volume',
             'Number of Trades', 'Taker Buy Base Asset Volume', 'Taker Buy Quote Asset Volume', "Ignore", 'Date']

In [44]:
df

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,Taker Buy Base Asset Volume,Taker Buy Quote Asset Volume,Ignore,Date
0,1656633600000,19942.21,20918.35,19658.97,20295.08,15102.27957,1656637199999,3.061280e+08,183055,7869.03338,1.595835e+08,0,2022-07-01 00:00:00
1,1656637200000,20295.09,20475.15,20260.00,20416.46,5242.15213,1656640799999,1.067496e+08,68071,2744.56553,5.588392e+07,0,2022-07-01 01:00:00
2,1656640800000,20416.45,20552.29,20269.95,20300.69,3668.92227,1656644399999,7.478502e+07,53024,1799.37831,3.667430e+07,0,2022-07-01 02:00:00
3,1656644400000,20300.68,20309.55,19688.00,19730.76,6570.88765,1656647999999,1.316029e+08,86467,3064.19088,6.135385e+07,0,2022-07-01 03:00:00
4,1656648000000,19730.77,19773.71,19366.89,19409.23,7334.11812,1656651599999,1.436470e+08,94313,3588.68876,7.028914e+07,0,2022-07-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,1659294000000,23748.65,23982.89,23700.37,23845.88,6209.96199,1659297599999,1.482328e+08,195878,3092.40743,7.382186e+07,0,2022-07-31 19:00:00
740,1659297600000,23843.69,23892.43,23772.75,23797.15,3908.90949,1659301199999,9.313236e+07,134305,1977.78235,4.712255e+07,0,2022-07-31 20:00:00
741,1659301200000,23797.22,23827.25,23531.61,23589.58,3905.49024,1659304799999,9.255338e+07,139428,1865.49435,4.421453e+07,0,2022-07-31 21:00:00
742,1659304800000,23591.06,23593.45,23227.31,23377.48,9707.91071,1659308399999,2.268849e+08,281736,4631.14308,1.082472e+08,0,2022-07-31 22:00:00
743,1659308400000,23379.82,23469.00,23266.60,23293.32,5601.01245,1659311999999,1.307734e+08,179743,2816.43688,6.576226e+07,0,2022-07-31 23:00:00

In [51]:
df = df[['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]
df.set_index('Date', inplace = True)
for column in df.columns:
    df[column] = pd.to_numeric(df[column], errors = 'coerce')

KeyError: "['Date'] not in index"

In [52]:
df

                         Open      High       Low     Close       Volume
Date
2022-07-01 00:00:00  19942.21  20918.35  19658.97  20295.08  15102.27957
2022-07-01 01:00:00  20295.09  20475.15  20260.00  20416.46   5242.15213
2022-07-01 02:00:00  20416.45  20552.29  20269.95  20300.69   3668.92227
2022-07-01 03:00:00  20300.68  20309.55  19688.00  19730.76   6570.88765
2022-07-01 04:00:00  19730.77  19773.71  19366.89  19409.23   7334.11812
...                       ...       ...       ...       ...          ...
2022-07-31 19:00:00  23748.65  23982.89  23700.37  23845.88   6209.96199
2022-07-31 20:00:00  23843.69  23892.43  23772.75  23797.15   3908.90949
2022-07-31 21:00:00  23797.22  23827.25  23531.61  23589.58   3905.49024
2022-07-31 22:00:00  23591.06  23593.45  23227.31  23377.48   9707.91071
2022-07-31 23:00:00  23379.82  23469.00  23266.60  23293.32   5601.01245

[744 rows x 5 columns]

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 744 entries, 2022-07-01 00:00:00 to 2022-07-31 23:00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    744 non-null    float64
 1   High    744 non-null    float64
 2   Low     744 non-null    float64
 3   Close   744 non-null    float64
 4   Volume  744 non-null    float64
dtypes: float64(5)
memory usage: 34.9 KB